.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.info-container .info {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
}

.info-container .info span {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 38px;
}

.info-container .info .name {
  color: rgb(255, 104, 49);
}

.info-container .info p {
  letter-spacing: normal;
  width: 450px;
  margin-top: 10px;
}

.info-container .info a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(255, 104, 49);
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.info-container img {
  height: 80vh;
  margin-top: -25vh;
}

@media screen and (max-width: 900px) {
  .info-container {
    flex-direction: column;
  }

  .info-container img {
    margin-top: -10vh;
  }
}

@media screen and (max-width: 500px) {
  .info-container {
    margin-top: 20px;
  }

  .info-container img {
    width: 100%;
    height: auto;
  }

  .info-container .info span {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 28px;
  }

  .info-container .info p {
    width: 100%;
    letter-spacing: normal;
    margin-top: 10px;
  }
}
